<html xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="../base.html"/>
  <head>
    <title i18n:msg="entry">Dictionary: $entry.id</title>
  </head>
  <body>
    <article>
      <h1>$entry.id</h1>
      <h2>Translations</h2>
      <dl py:for="code in entry.translations">
        <dt>${locale.languages[code].capitalize()}</dt>
        <dd>${Markup(entry.history(code).newest.object.definition)}</dd>
      </dl>
    </article>
  </body>
</html>
