<html xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n/">
  <xi:include href="../base.html"/>
  <head>
    <title i18n:msg="entry">Dictionary: $entry.id</title>
  </head>
  <body>
    <article>
      <h1>$entry.id</h1>
      <h2 i18n:msg="language">Revisions in ${locale.languages[language]}</h2>
      <table class="history">
        <tr>
          <th>Author</th>
          <th>Comment</th>
          <th>Time</th>
        </tr>
        <tr py:for="revision in reversed(history.values())">
          <td class="author">$revision.author</td>
          <td class="comment">$revision.comment</td>
          <td class="timestamp">
            <time datetime="${revision.timestamp.isoformat()}">
              ${format_datetime(revision.timestamp)}
            </time>
          </td>
        </tr>
      </table>
    </article>
  </body>
</html>
