body
{ margin: 0 auto;
  width: 950px;
}

h1, h2, h3, h4, h5, h6
{ font-family: 'Garamond', 'Georgia', 'serif';
  font-weight: normal;
  font-style: italic;
}

dt
{ font-variant: small-caps;
}

p, li, dt, dd, th, td
{ font-family: 'Garamond', 'Georgia', 'serif';
}


table.history
{ width: 100%;
}

table.history td
{ text-align: center;
}

table.history td.comment
{ font-style: italic;
}

table.history td.timestamp
{ font-family: 'Consolas', 'monospace';
}
